# Automatically creates partitions
autopart --type=lvm --fstype=ext4 --noswap

# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

# Partition clearing information
clearpart --all --initlabel --disklabel=gpt

# Don't run the Setup Agent on first boot
firstboot --disable

# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp --device=ens160 --hostname=redos --noipv6 --activate

# Reboot after the installation is complete
reboot --eject

# Root password
rootpw --lock --iscrypted #ROOT_PW#

# SELinux mode
selinux --enforcing

# System services
services --enabled="vmtoolsd"
services --enabled="ntpd"
services --enabled="sshd"

# Skip X11 installation
skipx

# System timezone
timezone Europe/Moscow --utc

# Use text install
text --non-interactive

# Create user
user --name=redos --uid=5000 --gid=5000 --groups=wheel --iscrypted --password=#REDOS_PW#
sshkey --username redos "#REDOS_PUBKEY#"

# Enable kernel dumps
%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

# Install packages
%packages
@core
chrony
conntrack
ebtables
grub2-redos-theme
ipset
open-vm-tools
openssh
sed
selinux-policy
sudo
%end

%post
sed -i 's/#\?PermitRootLogin\s.*/PermitRootLogin no/' /etc/ssh/sshd_config
echo "redos ALL=(ALL) NOPASSWD: ALL" >/etc/sudoers.d/redos
%end